@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');

body {
  margin: 0;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
h1 {
  /* word-break: break-all; Breaks long words to fit within the container */
  overflow-wrap: break-word; /* Ensures words wrap to the next line */
}